*{
    margin: 20px 20px 20px 20px  ;

}
body{
    background: #f5f1f1;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}
.left{
    height: 10%;
}
.countainer{
    width: 40%;
    display: block;
    
    display: flex ;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;

}


.div2{
 font-family: inherit;
    font-size: 36px;
    height: 25px;
padding-left: 3rem;
    display: block;


}
.div1{
width: 558px;
height: 60px;
font-size: 36px;
}

.div3{
    margin-left: 4rem;
    display: block;

}

.div4{
    border: 0px solid black;
    width: 12rem;
    padding-top: 12rem;
    box-shadow:-1px 1px 10px;

    margin-left: 4rem;
border-radius: 10px;  
text-indent: 40%; 
    
}
.div4 img{
    margin-top: -1rem;
    margin-left: 5px;
height: 157px;
width: 192px;
border-radius: 10px;

position: absolute;
top: 18.5rem;
left: 7.5rem;
}
.divr1{
    border: 0px solid black;
    border-radius: 10px;
    box-shadow:-1px 5px 10px;
    width: 30rem;
    height: 28rem;
    display: block;
}
.right{
    display: flex ;
    justify-content: center;
    align-items: center;
}
.divr2{
    height: 50%;
}
input{
    width: 400px;
    height: 40px;
    border-radius: 10px;
}
button{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(41, 115, 220);
    color: white;

}
a{
padding-left: 9rem;
}
.b1{
    background-color: rgb(149, 230, 109);
}

    

@media{
    
    body{
        
        background: #f5f1f1;
        color: #1c1e21;
        direction: ltr;
        line-height: 1.34;
        margin: 0;
        padding: 0;
        unicode-bidi: embed;
    }
    .left{
        max-width: 700px;
        height: 10%;
    }
    .countainer{        max-width: 700px;

        width: 40%;
        display: block;
        
        display: flex ;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;
    
    }
    
    
    .div2{        max-width: 700px;

     font-family: inherit;
        font-size: 36px;
        height: 25px;
    padding-left: 3rem;
        display: block;
    
    
    }
    .div1{
    width: 558px;
    height: 60px;
    font-size: 36px;
    }
    
    .div3{
        margin-left: 4rem;
        display: block;
    
    }
    
    .div4{
        border: 0px solid black;
        width: 12rem;
        padding-top: 12rem;
        box-shadow:-1px 1px 10px;
    
        margin-left: 4rem;
    border-radius: 10px;  
    text-indent: 40%; 
        
    }
    .div4 img{        max-width: 700px;

        margin-top: -1rem;
        margin-left: 5px;
    height: 157px;
    width: 192px;
    border-radius: 10px;
    
    position: absolute;
    top: 18.5rem;
    left: 7.5rem;
    }
    .divr1{        max-width: 700px;

        border: 0px solid black;
        border-radius: 10px;
        box-shadow:-1px 5px 10px;
        width: 30rem;
        height: 28rem;
        display: block;
    }
    .right{
        display: flex ;
        align-items: center;
    }
    .divr2{        max-width: 700px;

        height: 50%;
    }
    input{        max-width: 700px;

        width: 400px;
        height: 40px;
        border-radius: 10px;
    }
    button{        max-width: 700px;

        width: 400px;
        height: 40px;
        border-radius: 10px;
        font-size: 20px;
        font-weight: bold;
        background-color: rgb(41, 115, 220);
        color: white;
    
    }
    a{        max-width: 700px;

    padding-left: 9rem;
    }
    .b1{        max-width: 700px;

        background-color: rgb(149, 230, 109);
    }
    
        
    
    
}